@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.my-flex{
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}
@mixin mobile{
  @media screen  and (max-width: 500px) {
    @content
  }
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.html,body {
  font-family: 'Open Sans', sans-serif;
}
.navbar{
padding: 25px;
  background-color:#A5D7E8;
   a {
    color: #0B2447; 
    font-size: 1.2rem;
    @include mobile(){
      font-size: 1rem;
    }
  }
}

.Hero{
  margin-bottom: 100px;
  @include mobile(){
    margin-bottom: 50px;
  }
  margin-top: 50px;
  gap: 20px;
  flex: 1;
 background-color: #0B2447;
 padding:100px 20px 80px 20px ;
  h2{

    @include mobile(){
      font-size:1.25rem;
    }
    color: white;
    font-size:1.75rem ;
  }
  p{
    font-size: 1.25rem;
    font-family: monospace;
    color: white;
    @include mobile(){
      font-size: 0.875rem;
    }
 
  }

}

.Skills{
  gap: 50px;
  flex: 1;
  transform: translateX(-100%);
  animation: slideIn 1.5s forwards;
  margin-bottom: 100px;
  @include mobile(){
    margin-bottom: 50px;
  }
  img:hover{
    transform: scale(1.2);
    filter: brightness(0.6);
  }
  h2 {
    font-size: 2rem;
    color: #0B2447 ;
    @include mobile(){
      font-size: 1.5rem;
    }
  }
  @keyframes slideIn {
    100% {
      transform: translateX(0%);
    }
  }

}

.projects{
  gap: 50px;
  @include mobile(){
    margin-bottom: 50px;
  }
  margin-bottom: 100px;
  h2{
    font-size: 2rem;
    @include mobile(){
      font-size: 1.5rem;
    }
  }
}


.contact {
  flex: 1;
  background-color:#A5D7E8;
  padding-top: 30px;
  padding-bottom: 30px;
  h2{
    font-size: 2rem;
   gap: 30px;
    color: #0B2447;
    @include mobile(){
      font-size: 1.5rem;
    }
  }

}